body {
  background-color:#ff0000
}
.main-grid {
  width:auto;
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: .5fr 3fr .25fr 3fr;
  height:100%;
  gap: 10px;
  grid-template-areas:
    "headline headline"
    "input-block image"
    "slector-headline selector-headline"
    "card-selector card-selector";

}

.headline{
  grid-area:headline;
  
}

.input-block{
  width:20rem;
  background-color:#ff1010;
  grid-area: input-block;
  display: flex;
  padding: 5rem;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.input-field-fn{
  padding:1rem;
}
.input-field-ln{ 
  padding:1rem;
}
.input-field-ag{
  padding:1rem;
}
.input-field-sb{
  padding:1rem;
}

.card-selector{
  grid-area: card-selector;
  display:flex;
}

.selector-headline{
 width:100%;
 grid-area:selector-headline;
 justify-content:center;
 align-content:center;
 display:flex;
}

#user-card-img{
  grid-area: image;
}

#card-img{
  width:200px;
  height:auto;
}

.sample-card{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border-color:#3f0f0f;
  border-style:dotted;
  padding:1rem;
  margin:1rem;
}

.selector{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
